
body{
  padding: 0px;
    margin: 0px;
}
.Main-Box{
    height: 680px;
    width: 100%;
    background-color: #000000;
}
.shopkart{
    color: white;
    position: relative;
    right: 38%;
    top: 1%;
    font-size: 28px;
}
.wish-cart{
    display: inline-block;
    color: white;
    position: relative;
    left: 35%;
    font-weight: bold;
}


body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
 
  .App {
    font-family: Arial, sans-serif;
  }
  
  
  .navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:000000;
    color: #fff;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-menu ul {
    margin: 0;
    padding: 0;
    display: flex; 

  }
  li{
padding: 5px 60px;
  }
  
  .navbar-menu a {
    color: #fff;
    padding: 10px 20px; 
    display: block;
    transition: 0.3s;
  }
  
  .navbar-menu a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
 
  .navbar-toggle {
    display: none; 
    cursor: pointer;
    font-size: 1.5rem;
  }
  
 
  .navbar.open {
    position: relative;
  }
  
  .navbar.open .navbar-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  .navbar.open .navbar-menu ul {
    padding-left: 0;
  }
  
  
  .navbar-menu ul ul {
    display: none; 
    
   }
  
  .navbar-menu li:hover > ul {
    display: inline-block; 
    font-size: 12px;
    
  }
  
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none; 
      flex-direction: column; 
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .navbar-menu.open {
      display: flex; 
    }
  
    .navbar-toggle {
      display: block; 
    }
  }
  

  .box1{
    display: inline;
    height: 350px;
    width: 65%;
    background-color: #F07E15;
    position: absolute;
    left: 35%;
    top: 280px;
    z-index: +1;
  }
  .imgstar{
    height: 350px;
    width: 330px;
    background-image: url('../images/Star\ 3.png');
    position: absolute;
    background-size: 100% 100%;
    top: 15%;
    left: 65%;
    z-index: +2;
  }
  .imgmen{
    height: 480px;
    width: 400px;
    background-image: url('../images/jessica-radanavong-IchPBHFD0pw-unsplash.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: +3;
  }

  .box2{
    display: inline;
    height: 350px;
    width: 65%;
    background-image: url('../images/Rectangle\ 29.png');
    position: absolute;
    left: 35%;
    top: 280px;
    z-index: +4;
  }
  .text{
    display: inline;
    position: absolute;
color: white;
font-size: 135px;
font-family: Syne;
z-index: +5;
}
.fresh{
    top: 137px;
    left: 20%;
    font-family: 'Londrina Outline', cursive;
    font-family: 'Syncopate', sans-serif;
}
.twenty{
    top: 255px;
    left: 31%;;
    font-family: 'Londrina Outline', cursive;
   

}
.Look{
  font-size: 125px;
    top: 395px;
    left: 23%;
font-family: 'Syncopate', sans-serif;
}
.arival{
    font-family: 'Syncopate', sans-serif;
  font-size: 60px;

}
